{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>
<p><strong>Price:</strong> {{ item.price }}</p>
<p><strong>Category:</strong> {{ item.category }}</p>
<p><strong>Store:</strong> {{ item.store.title }}</p>
<p><strong>Created by: {{ item.created_by.username }}</strong></p>


<h2>Edit Item</h2>

<form action="/item/{{ item.id }}" method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ form.name.label }}
        {{ form.name(class="name-input") }}
        {{ form.price.label }}
        {{ form.price(class="price-input") }}
        {{ form.category.label }}
        {{ form.category(class="category-input") }}
        {{ form.photo_url.label }}
        {{ form.photo_url(class="photo_url-input") }}
        {{ form.store.label }}
        {{ form.store(class="store-input") }}

        <input type="submit" value="Submit">
    </fieldset>
</form>

{% endblock %}
